spring:
  application:
    name: jpql_memo

  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: spring
    password: 1234
    driver-class-name: oracle.jdbc.driver.OracleDriver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.OracleDialect

  thymeleaf:
    cache: false

server:
  port: 80
  error:
    whitelabel:
      enabled: false

logging:
  level:
    web: info