<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <h2>방명록</h2>
    <form action="/insert" method="POST">
        <input type="text" name="name" placeholder="name" autofocus><br>
        <input type="text" name="email" placeholder="email" autofocus><br>
        <input type="password" name="passwd" placeholder="password"><br>
        <textarea name="contents" rows="5" cols="80" placeholder="contents"></textarea><br>
        <button type="submit">저장</button>
    </form>
</body>
</html>