<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h2>상품등록</h2>
    <form action="/insert" method="post" enctype="multipart/form-data">
        <input type="text" name="product_name" placeholder="product_name" autofocus><br>
        <input type="text" name="description" placeholder="description"><br>
        <input type="text" name="price" placeholder="price"><br>
        <input type="file" name="filename"><br>
        <button type="submit">확인</button>
    </form>
</body>
</html>