body {
	font-family: sans-serif;
	font-size: 15px;
	margin: 5px;
	padding: 5px;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #ccc;
	padding: 6px 10px;
}

input, button {
	padding: 5px;
	margin: 2px;
}